@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.lime-gradient {
  background: linear-gradient(to right, theme('colors.limeGreen'), theme('colors.brightCyan'));
}

.border-gradient {
  border: linear-gradient(to right, theme('colors.limeGreen'), theme('colors.brightCyan'));
}

.custom-button {
  background: linear-gradient(to right, theme('colors.limeGreen'), theme('colors.brightCyan'));
  padding: 0.5rem 2rem;
  border-radius: 9999px;
  color: white;
  width: 180px;
}

.custom-button:hover {
  opacity: 60%;
}
